#soilmoist .sensors {
    text-align: center;
    padding: 25vh;
  }
  
  #soilmoist .sensors .headtxt{
    color:#2afeb7 ;
  }
  
  #soilmoist .sensors .sensor1{
    padding: 20px;
  }
  
  #soilmoist .sensors .sensor2{
    padding: 20px;
  }
  
  #soilmoist .sensors .sensor3{
    padding: 20px;
  }

/*Css for mobile*/

@media only screen and (max-width: 404px) ,(max-height: 531px) {
  #soilmoist .sensors {
    font-size: 15px;
    text-align: center;
    
  }
}